* {
  box-sizing: border-box;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

#value {
  padding: 30px 10px;
  font-size: 60px;
}

.btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 15px;
  transition: 0.5s linear 0.2s;
}
.btn:hover { 
  border-color: darkblue;
  cursor: pointer;
  text-transform: capitalize;
  color: darkblue;
}
